In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
pwd

'C:\\Users\\sadan\\OneDrive\\surrey\\sentiment_proj'

In [3]:
cd datasets

C:\Users\sadan\OneDrive\surrey\sentiment_proj\datasets

In [5]:
cd gr_20_all

C:\Users\sadan\OneDrive\surrey\sentiment_proj\datasets\gr_20_all

In [6]:
ls

 Volume in drive C is OS
 Volume Serial Number is BE49-6290

 Directory of C:\Users\sadan\OneDrive\surrey\sentiment_proj\datasets\gr_20_all

11-Aug-20  05:53 AM    <DIR>          .
11-Aug-20  05:53 AM    <DIR>          ..
15-Jul-20  08:27 PM        20,366,066 all_gr_20_ar.xlsx
15-Jul-20  09:04 PM         8,013,339 grall_20_1.csv
17-Jul-20  06:48 PM         7,517,185 grall_20_2(AutoRecovered).csv
16-Jul-20  06:26 PM         8,144,899 grall_20_2.csv
16-Jul-20  06:21 PM         8,352,185 grall_20_3.csv
16-Jul-20  06:21 PM         8,234,960 grall_20_4.csv
16-Jul-20  06:22 PM         8,303,865 grall_20_5.csv
15-Jul-20  08:50 PM        37,247,357 grall_20_ar.csv
11-Aug-20  05:53 AM        29,742,496 grall_20_eng.xlsx
19-Jul-20  07:45 PM    <DIR>          trans
               9 File(s)    135,922,352 bytes
               3 Dir(s)  271,109,304,320 bytes free

In [10]:
data= pd.read_excel('grall_20_eng.xlsx', encoding='utf8') # take the header off

In [11]:
data.head()

,عزازيل الذي صنعناه الكامن في انفسنا يذكرني يوسف زيدان ب بورخس في استخدامه لحيلته الفنيهوخداع القاريء بان الروايه ترجمه لمخطوط,"Azazel, who made it that resides in ourselves, reminds me of Yusef Zidan B Borges in his use of his artistic trick and deceiving the reader that the novel translated it into a manuscript.",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,قديم الهوامش المخترعه و اختلاق وجود مترجم عاد ...,Old invented margins and the creation of an in...,NaN,NaN,NaN,NaN
1,زيدان وهو عبقري في السرد ويخلق جوا ساحرا متفرد...,"Zidane, who is a genius in the narration and c...",NaN,NaN,NaN,NaN
2,ربما تم تناول فكره الروايه قبلا ولكن هنا تفردا...,Perhaps the idea of ​​the novel was dealt with...,NaN,NaN,NaN,NaN
3,بطريقه مختلفه فقد جاءت بارده لا تتناسب مع رواي...,"In a different way, it came cold and did not m...",NaN,NaN,NaN,NaN
4,وان كانت تجربه قرائيه متفرده وممتعه,And if it was a unique and enjoyable reading e...,NaN,NaN,NaN,NaN

In [18]:
df = data.iloc[:,[0,1]]

In [19]:
df.head()

,عزازيل الذي صنعناه الكامن في انفسنا يذكرني يوسف زيدان ب بورخس في استخدامه لحيلته الفنيهوخداع القاريء بان الروايه ترجمه لمخطوط,"Azazel, who made it that resides in ourselves, reminds me of Yusef Zidan B Borges in his use of his artistic trick and deceiving the reader that the novel translated it into a manuscript."
0,قديم الهوامش المخترعه و اختلاق وجود مترجم عاد ...,Old invented margins and the creation of an in...
1,زيدان وهو عبقري في السرد ويخلق جوا ساحرا متفرد...,"Zidane, who is a genius in the narration and c..."
2,ربما تم تناول فكره الروايه قبلا ولكن هنا تفردا...,Perhaps the idea of ​​the novel was dealt with...
3,بطريقه مختلفه فقد جاءت بارده لا تتناسب مع رواي...,"In a different way, it came cold and did not m..."
4,وان كانت تجربه قرائيه متفرده وممتعه,And if it was a unique and enjoyable reading e...

In [20]:
df = df.dropna()

In [21]:
df.shape

(227371, 2)

In [22]:
source_dataset = df.iloc[:,0]    # get the data of first column

source_dataset.head()

0    قديم الهوامش المخترعه و اختلاق وجود مترجم عاد ...
1    زيدان وهو عبقري في السرد ويخلق جوا ساحرا متفرد...
2    ربما تم تناول فكره الروايه قبلا ولكن هنا تفردا...
3    بطريقه مختلفه فقد جاءت بارده لا تتناسب مع رواي...
4                  وان كانت تجربه قرائيه متفرده وممتعه
Name: عزازيل الذي صنعناه الكامن في انفسنا يذكرني يوسف زيدان ب بورخس في استخدامه لحيلته الفنيهوخداع القاريء بان الروايه ترجمه لمخطوط, dtype: object

In [23]:
target_dataset = df.iloc[:,1]

target_dataset.head()

0    Old invented margins and the creation of an in...
1    Zidane, who is a genius in the narration and c...
2    Perhaps the idea of ​​the novel was dealt with...
3    In a different way, it came cold and did not m...
4    And if it was a unique and enjoyable reading e...
Name: Azazel, who made it that resides in ourselves, reminds me of Yusef Zidan B Borges in his use of his artistic trick and deceiving the reader that the novel translated it into a manuscript., dtype: object

In [24]:
from sklearn.model_selection import train_test_split

# split complete dataset in train-test with ratio 80-20 respectively

X_train, X_test, y_train, y_test = train_test_split(source_dataset, target_dataset, test_size=0.2, random_state=1)


# again split train data in train-validation with 90-10 ratio respectively

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state=1)

In [25]:
print ("Shape of input_train data:", np.shape(X_train))

print('===================================\n')

print ("Shape of target_train data : " , np.shape(y_train))

print('===================================\n')

print ("Shape of input_validation data : " , np.shape(X_val))

print('===================================\n')

print ("Shape of target_validation data : " , np.shape(y_val))

print('===================================\n')

print ("Shape of input_test data : " , np.shape(X_test))

print('===================================\n')

print ("Shape of target_test data : " , np.shape(y_test))

print('===================================\n')

Shape of input_train data: (163706,)
===================================

Shape of target_train data :  (163706,)
===================================

Shape of input_validation data :  (18190,)
===================================

Shape of target_validation data :  (18190,)
===================================

Shape of input_test data :  (45475,)
===================================

Shape of target_test data :  (45475,)
===================================

In [33]:
cd sentiment_proj\open_nmt

C:\Users\sadan\OneDrive\surrey\sentiment_proj\open_nmt

In [34]:
mkdir gr_20

In [35]:
cd gr_20

C:\Users\sadan\OneDrive\surrey\sentiment_proj\open_nmt\gr_20

In [36]:
# export train, validation and test dataframes as text files

export_csv = X_train.to_csv (r'src-gr20-train.txt' , index = None, header = False)

export_csv = y_train.to_csv (r'tgt-gr20-train.txt' , index = None, header = False)

export_csv = X_val.to_csv (r'src-gr20-val.txt' , index = None, header = False)

export_csv = y_val.to_csv (r'tgt-gr20-val.txt' , index = None, header = False)

export_csv = X_test.to_csv (r'src-gr20-test.txt' , index = None, header = False)

export_csv = y_test.to_csv (r'tgt-gr20-test.txt' , index = None, header = False)

In [3]:
# connecting files for translation 
import os
DATA_HOME = os.chdir('C:\\Users\\sadan\\OneDrive\\surrey\\sentiment_proj\\datasets\\manual_trans') #change the directory of the notebook
#os.getcwd() check the current directory

In [92]:
ted = pd.read_csv('ted2013/outputcl.tsv',encoding = 'utf-8', delimiter = '\t',names=['eng','ar'])

In [93]:
ted.head()

,eng,ar
0,Stephen Palumbi: Following the mercury trail,ستيفن بلمبي: اتباع مسار الزئبق
1,"It can be a very complicated thing, the ocean.",يمكن أن يكون المحيط أمرا في غاية التعقيد
2,"And it can be a very complicated thing, what h...",و يمكن أن تكون ماهية صحة الإنسان أمرا في غاية ...
3,And bringing those two together might seem a v...,و لذلك قد يبدو آن الجمع بين هذين الأمرين سويا ...
4,And those simple themes aren't really themes a...,و هذه الأفكار الرئيسة المبسطة ليست فعلا أفكارا...

In [94]:
ted.shape

(149691, 2)

In [95]:
tatoba= pd.read_csv('ara-eng/ara_eng.csv', encoding='utf8',skiprows=[0],names=['eng','ar']) # take the header off

In [96]:
tatoba.head()

     eng       ar
0    Hi.  مرحبًا.
1   Run!    اركض!
2  Help!  النجدة!
3  Jump!    اقفز!
4  Stop!      قف!

In [83]:
tatoba.shape

(11319, 2)

In [99]:
gr = pd.read_csv('C:/Users/sadan/OneDrive/surrey/sentiment_proj/datasets/good_reads_150.csv', encoding='utf8')

In [100]:
gr.head()

,rating,ar,tr,text_length
0,4.0,من أمتع ما قرأت من روايات بلا شك. وحول الشك ت...,Undoubtedly one of the most interesting novels...,86
1,4.0,هذا هو الأدب . هذه هي الرواية !,This is literature. This is the novel!,32
2,5.0,عزازيل لكل منا عزازيل يحاوره يساوره هو شماعة ...,Azazel for all of us,112
3,2.0,انا كان عندى شغف قوى جدا لاقرأه وبعد ان تعمقت...,I had a very strong passion to read and after ...,145
4,4.0,- هذا الكتاب هو منجز روائي هائل بالمعلومات و ...,#NAME?,106

In [101]:
gr = gr.drop(gr.columns[[0, 3]], axis=1)

In [102]:
gr.head()

,ar,tr
0,من أمتع ما قرأت من روايات بلا شك. وحول الشك ت...,Undoubtedly one of the most interesting novels...
1,هذا هو الأدب . هذه هي الرواية !,This is literature. This is the novel!
2,عزازيل لكل منا عزازيل يحاوره يساوره هو شماعة ...,Azazel for all of us
3,انا كان عندى شغف قوى جدا لاقرأه وبعد ان تعمقت...,I had a very strong passion to read and after ...
4,- هذا الكتاب هو منجز روائي هائل بالمعلومات و ...,#NAME?

In [103]:
gr=gr.reindex(columns=['tr','ar'])

In [110]:
gr.rename(columns={'en': 'eng'}, inplace=True)
gr.head()

,eng,ar
0,Undoubtedly one of the most interesting novels...,من أمتع ما قرأت من روايات بلا شك. وحول الشك ت...
1,This is literature. This is the novel!,هذا هو الأدب . هذه هي الرواية !
2,Azazel for all of us,عزازيل لكل منا عزازيل يحاوره يساوره هو شماعة ...
3,I had a very strong passion to read and after ...,انا كان عندى شغف قوى جدا لاقرأه وبعد ان تعمقت...
4,#NAME?,- هذا الكتاب هو منجز روائي هائل بالمعلومات و ...

In [113]:
# concatentate the three
df = pd.concat([ted,tatoba,gr]) # the three df must have the same heading, no heading gives vertical and horizontal concatenation

In [114]:
df.head(10)

,eng,ar
0,Stephen Palumbi: Following the mercury trail,ستيفن بلمبي: اتباع مسار الزئبق
1,"It can be a very complicated thing, the ocean.",يمكن أن يكون المحيط أمرا في غاية التعقيد
2,"And it can be a very complicated thing, what h...",و يمكن أن تكون ماهية صحة الإنسان أمرا في غاية ...
3,And bringing those two together might seem a v...,و لذلك قد يبدو آن الجمع بين هذين الأمرين سويا ...
4,And those simple themes aren't really themes a...,و هذه الأفكار الرئيسة المبسطة ليست فعلا أفكارا...
5,And I'm going to start with this one: If momma...,و أنا سأبدأ بهذا المثال إذا كانت الأم غير سعيد...
6,"We know that, right? We've experienced that.",كلنا نعرف هذا، صحيح؟ كلنا مررنا بالتجربة
7,And if we just take that and we build from the...,فإذا أخذنا هذا و بنينا عليه نستطيع المواصلة لل...
8,That's the theme of my talk.,و هذه هي الفكرة الأساسية من كلامي
9,And we're making the ocean pretty unhappy in a...,و نحن نجعل المحيط غير سعيد بكثير من الطرق المخ...

In [115]:
df.shape

(190164, 2)

In [116]:
df.tail()

,eng,ar
29148,"A tragedy is a tragedy, a tragedy is a tragedy.",ماساه ماساه ماساه ماساه بما تحمله الكلمة من م...
29149,"Bodden's philosophy, Nebodenman, is Hennes Nest.",فلسفه بودن يا نبودنمان هم هنوز نيست.عجبا!
29150,"When he claims he neglects madness, he becomes...",حينما يدعي هملت الجنون يكون أكثر حكمة
29151,The most beautiful play written in the history...,اجمل مسرحية ألفت في تاريخ الادب الانجليزي
29152,NaN,NaN

In [117]:
# take nulls out
df = df.dropna()

In [118]:
df.shape

(190163, 2)

In [119]:
source_dataset = df.iloc[:,0]

In [124]:
df.to_csv('all3.csv',encoding='utf-8-sig')

In [120]:
source_dataset.head()

0         Stephen Palumbi: Following the mercury trail
1       It can be a very complicated thing, the ocean.
2    And it can be a very complicated thing, what h...
3    And bringing those two together might seem a v...
4    And those simple themes aren't really themes a...
Name: eng, dtype: object

In [121]:
target_dataset = df.iloc[:,1]

target_dataset.head()

0                       ستيفن بلمبي: اتباع مسار الزئبق
1             يمكن أن يكون المحيط أمرا في غاية التعقيد
2    و يمكن أن تكون ماهية صحة الإنسان أمرا في غاية ...
3    و لذلك قد يبدو آن الجمع بين هذين الأمرين سويا ...
4    و هذه الأفكار الرئيسة المبسطة ليست فعلا أفكارا...
Name: ar, dtype: object

In [122]:
from sklearn.model_selection import train_test_split

# split complete dataset in train-test with ratio 80-20 respectively

X_train, X_test, y_train, y_test = train_test_split(source_dataset, target_dataset, test_size=0.2, random_state=1)


# again split train data in train-validation with 90-10 ratio respectively

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state=1)

In [123]:
# export train, validation and test dataframes as text files

export_csv = X_train.to_csv (r'src-3-train.txt' , index = None, header = False)

export_csv = y_train.to_csv (r'tgt-3-train.txt' , index = None, header = False)

export_csv = X_val.to_csv (r'src-3-val.txt' , index = None, header = False)

export_csv = y_val.to_csv (r'tgt-3-val.txt' , index = None, header = False)

export_csv = X_test.to_csv (r'src-3-test.txt' , index = None, header = False)

export_csv = y_test.to_csv (r'tgt-3-test.txt' , index = None, header = False)

In [125]:
print ("Shape of input_train data:", np.shape(X_train))

print('===================================\n')

print ("Shape of target_train data : " , np.shape(y_train))

print('===================================\n')

print ("Shape of input_validation data : " , np.shape(X_val))

print('===================================\n')

print ("Shape of target_validation data : " , np.shape(y_val))

print('===================================\n')

print ("Shape of input_test data : " , np.shape(X_test))

print('===================================\n')

print ("Shape of target_test data : " , np.shape(y_test))

print('===================================\n')

Shape of input_train data: (136917,)
===================================

Shape of target_train data :  (136917,)
===================================

Shape of input_validation data :  (15213,)
===================================

Shape of target_validation data :  (15213,)
===================================

Shape of input_test data :  (38033,)
===================================

Shape of target_test data :  (38033,)
===================================

In [126]:
!python --version

Python 3.7.4

In [29]:
import pandas as pd
data = pd.read_csv('C:/Users/sadan/OneDrive/surrey/sentiment_proj/datasets/manual_trans/tatoba_ted_syrian_gr.csv', sep=',', encoding='utf-8')

In [30]:
data.head()

          terify    خوف
0      terifying   مفزع
1          teror    رعب
2      disapoint    خيب
3      disapoint    خيب
4  disapointment  مخزلة

In [31]:
source_dataset = data.iloc[:,0]

In [32]:
source_dataset.head()

0        terifying
1            teror
2        disapoint
3        disapoint
4    disapointment
Name: terify, dtype: object

In [33]:
target_dataset = data.iloc[:,1]

target_dataset.head()

0     مفزع
1      رعب
2      خيب
3      خيب
4    مخزلة
Name: خوف, dtype: object

In [34]:
data.shape

(191296, 2)

In [18]:
data.dropna()

,terify,خوف
0,terifying,مفزع
1,teror,رعب
2,disapoint,خيب
3,disapoint,خيب
4,disapointment,مخزلة
...,...,...
191291,what made me to burn it and imagine the fire g...,مما اضطرني الى حرقهاتصوروا ان اللهب ارتفع اعلى...
191292,And they are taken to external actions that ha...,ومأخوذين بتصرفات خارجية مبهرة ملهاش علاقة بالم...
191293,I was driving yesterday on the same road behin...,على هالطريق نفسو كنت مبارحة ومشيت ورا مرسيدس ف...
191294,and do something useful and also animals are t...,وبيعملو شي مفيد لانو وزيادة علييهم الحيوانات ..
191295,"I love design tow, and I am intending to reser...",تصميم ٢ أنا عجبني كتير وناوي احجزه للمدام المس...

In [35]:
data.shape

(191296, 2)

In [36]:
from sklearn.model_selection import train_test_split

# split complete dataset in train-test with ratio 80-20 respectively

X_train, X_val, y_train, y_val = train_test_split(source_dataset, target_dataset, test_size=0.1, shuffle=None)


# again split train data in train-validation with 90-10 ratio respectively

#X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state=1)

In [37]:
print ("Shape of input_train data:", np.shape(X_train))

print('===================================\n')

print ("Shape of target_train data : " , np.shape(y_train))

print('===================================\n')

print ("Shape of input_validation data : " , np.shape(X_val))

print('===================================\n')

print ("Shape of target_validation data : " , np.shape(y_val))

print('===================================\n')

#print ("Shape of input_test data : " , np.shape(X_test))

#print('===================================\n')

#print ("Shape of target_test data : " , np.shape(y_test))

#print('===================================\n')

Shape of input_train data: (172166,)
===================================

Shape of target_train data :  (172166,)
===================================

Shape of input_validation data :  (19130,)
===================================

Shape of target_validation data :  (19130,)
===================================

In [38]:
# connecting files for translation 
import os
DATA_HOME = os.chdir('C:\\Users\\sadan\\OneDrive\\surrey\\sentiment_proj\\datasets\\manual_trans\\opennmt') #change the directory of the notebook
#os.getcwd() check the current directory

In [39]:
# export train, validation and test dataframes as text files

export_csv = X_train.to_csv (r'src-lex-train.txt' , index = None, header = False)

export_csv = y_train.to_csv (r'tgt-lex-train.txt' , index = None, header = False)

export_csv = X_val.to_csv (r'src-lex-val.txt' , index = None, header = False)

export_csv = y_val.to_csv (r'tgt-lex-val.txt' , index = None, header = False)

#export_csv = X_test.to_csv (r'src-3-test.txt' , index = None, header = False)

#export_csv = y_test.to_csv (r'tgt-3-test.txt' , index = None, header = False)